<h1>Home#index</h1>
<%= link_to "Create Employee", new_users_employee_path, class: "btn btn-success" %>
<br/><br/>
<%= link_to "All employees",  users_employees_path, class: "btn btn-success" %>

<br/><br/>
<%= link_to "Leaves", leaves_path, class: "btn btn-success" %>

<br/><br/>
<%= link_to "Attendance", attendances_path, class: "btn btn-success" %>