<div class="col-4" style="margin : 0 auto;">
  <div class="col-8" style="margin : 0 auto;">
    <h1>Attendance Enrollment</h1></br>
  </div>
  <%= render "form", attendance: @attendance , office_days: @office_days%>
</div>